
.header{
  background: url("../../img/images3.jpg") top / cover no-repeat;
  height: 600px;
  width: 100%;
  color: $white;
}

.nav{
  display: flex;

}

.logo{
  padding-top: 10px;
}

.nav-list{

  margin-top: 25px;
  margin-left: 35%;
  @media (max-width: 1200px){
    margin-left: 23%;
  }
  @media (max-width: 992px){
    margin-left: 5%;
  }
  @media (max-width: 767px){
    margin-left: 3%;
  }
}

.nav-list__elem{
  color: white;
  @include font-size(1.3rem !important);
  text-decoration: none;
  padding: 0px 20px;
  transition: 0.3s;
  &:hover {
    color: darkgrey;
  }
}

.header-main{
  margin-top: 150px;
}

.header-main__info{

}

.header-main__tittle{
  @include font-size(50px);
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.header-main__text{
  @include font-size(30px);
  padding-top: 15px;
  font-weight: bold;
}

.header-main__button{
margin-top: 30px;
}